<div class="container">
  <li class="header">
    <div class="box">
      <div class="col1">{{header.id}}</div>
      <div class="col2">{{header.firstName}}</div>
      <div class="col3">{{header.lastName}}</div>
      <div class="col4">{{header.code}}</div>
    </div>
  </li>
  <cdk-virtual-scroll-viewport #scrollViewport itemSize="100">
    
    <li *cdkVirtualFor="let p of people;" class="animated slideInRight">
      <div class="box">
        <div class="col1">{{p.id}}</div>
        <div class="col2">{{p.firstName}}</div>
        <div class="col3">{{p.lastName}}</div>
        <div class="col4">{{p.code}}</div>
      </div>
    </li>
  
  </cdk-virtual-scroll-viewport>
</div>
